h1{
	background-color: #097F10;
	height:160px;
}


#navbarTitle{
	color: #FFFFFF;
}
#myNewNavBar{
	background-color: #097F10;
	border: 0px;
	transform: translateY(-65%);
}
#myDropdown{
	background-color:#097F10; 
}
#dropdown{
	background-color: #097F10;
	color: #FFFFFF;
	border: 5px solid #FFFFFF;
}
#MyNavButton{
	background-color: #097F10;
	border: 1px solid #FFFFFF;
}
#myNavbar ul li a{ 
	color: #FFFFFF; 
}
#myNavbar ul li a:hover { 
	color: #000000; 
	background-color: #FFDF52; 
}
#contact{
	text-decoration: underline;
	position: fixed;
	bottom: 0;
	right: 0;
	padding-right: 15px;
}
#mainbody{
	width:1600px;
	height:700px;
	border:1px solid #000;
	background-color: #FEF1D6;
	transform: translateY(5%);
}	 