h1 {
	background-color: #097F10;
	height: 130px;
	margin: 0px;
}

#navbar-right {
	position: fixed;
}

#login a {
	background-color: #097F10;
	border: 0px;
	border-radius: 0px 0px 5px 5px;
	font-size: 10pt;
	position: fixed;
	top: 0;
	right: 0;
	color: #FFFFFF;
}

#navbarTitle {
	color: #FEF1D6;
}

#myNewNavbar {
	background-color: #097F10;
	border: 0px;
	border-radius: 0px 0px 5px 5px
}

#myDropdown {
	background-color: #097F10;
}

#dropdown {
	background-color: #097F10;
	color: #FEF1D6;
}

#MyNavButton {
	background-color: #097F10;
	border: 1px solid #FEF1D6;
}

#myNavbar ul li a {
	color: #FEF1D6;
}

#myNavbar ul li a:hover {
	color: #FEF1D6;
	background-color: #FFDF52;
}

#contact {
	text-decoration: underline;
	bottom: 0;
	right: 0;
	padding-right: 15px;
}

#mainbody {
	width: 1600px;
	height: 700px;
	border: 1px solid #000;
	background-color: #FEF1D6;
	transform: translateY(5%);
	resize: both;
}

#formdiv {
	margin: 0 auto;
	border-style: solid;
	border-width: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px;
	font-style: bold;
	width: 100%; border : 1px solid #000000;
	background-color: #FEF1D6;
	border: 1px solid #000000;
}

#productname a {
	font-size: 24;
	color: #000000;
}

#formdiv inputbox {
	background-color: #000000;
}

#stocklevel p {
	color: #51CE4D;
}

#price p {
	color: #000000;
}

#prodname {
	font-weight: bold;
}

#buttonArea {
	width: 20%;
	height: 20%;
	border: 1px solid;
	background-color: #FFFFFF;
}

#prodimg img {
	border: 0 auto;
	background-color: #FEF1D6;
}

.button{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

#addToBasket{
	transition-duration: 0.4s;
	background-color: #F29D05;
	color: #FFFFFF;
	border-radius: 12px;
	padding: 14px 75px;
	text-align: right;
}
#addToBasket:hover{
	background-color: #51CE4D;
	color: #000000;
	
}
#addToWishlist{
	transition-duration: 0.4s;
	background-color: #F29D05;
	color: #FFFFFF;
	border-radius: 12px;
	padding: 14px 75px;
	text-align: left;
}
#addToWishlist:hover{
	background-color: #51CE4D;
	color: #000000;
}