/*Sets the background colour of the banner*/
h1{
	background-color: #097F10;
}
/*Sets the header of the login page*/
h2{
	font-size: 36px;
	text-align: center;
}
/*unifies the input fields text box so they're the same size*/
input{
	display: inline-block; 
	float: center;
}
/*Ensures the labels of input fields are aligned and spaced*/
label{
    display: inline-block;
    float: center;
    clear: left;
    width: 250px;
    text-align: right;
	padding-bottom:15px;
}
/*Formats the form where all the user input fields will be found*/
#formdiv{
	margin: 0 auto;
	padding-top: 25px;
	border-style: solid;
	border-width: 1px;
	padding-bottom: 10px;
	text-align: center;
	font-size:20px;
	font-style: bold;
	width: 100%;
	border: 1px solid #000000;
	background-color: #FEF1D6;
}
/*centres the logo within the header*/
#logo{
	left: 50%;
    margin: 0 auto;
	}

/*Underlines and fixes the contact link  to the bottom right of the page*/
#contact{
	text-decoration: underline;
	bottom: 0;
	right: 0;
	padding-right: 15px;
}
/*Hyperlink size for the logo*/
#homelink{
	width: 200px; 
	height: 150px;
}

input[type="radio"]{
	margin: 0 5px 0 5px;
}

#registration_prompt{
	float:down;
}

.col-xs-12{
	
}
/*Pads the input fields so they're aligned */
#holdingdiv{
	width: 100%;
	float:left;
	text-align: center;
}
#formholder{
	width:50%
}
.form-control{
	
}
select{
	text-align: center;
	text-align-last: center;
}
option{
	text-align: center;
}
#loginContainer{
	margin-top: 3px;
}

#errorMessage{
	
	color:red;
}
